name: Backend CI
on:
  push:
    paths:
      - "backend/**"
  pull_request:
    paths:
      - "backend/**"
jobs:
  backend-tests:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_USER: bcms
          POSTGRES_PASSWORD: 4Sehat&5Sempurna
          POSTGRES_DB: bcms_test
        ports: ["5432:5432"]
        options: >-
          --health-cmd="pg_isready -U bcms" --health-interval=10s --health-timeout=5s --health-retries=5
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
      - name: Install dependencies
        run: |
          cd backend
          composer install
      - name: Copy env
        run: cd backend && cp .env.example .env
      - name: Key generate
        run: cd backend && php artisan key:generate
      - name: Run tests
        run: cd backend && php artisan test